@import 'src/scss/_global.scss';
.homepg{
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  .homepg__rowone {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .homepg__rowonewrap {
      width: 100%; 
      .rowone-colone {
        position: relative;
        width: 100%;
        text-align: center;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 75%;
          max-width: 300px;
          min-width: 250px;
        }
      }
      .rowone-coltwo{
        position: relative;
        width: 100%;
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .homepg__rowtwo {
    position: relative;
    min-height: 250px;
    .skill {
      list-style-type: none;
    }
  }
  .homepg__rowthree {
    position: relative;
    min-height: 300px;
    .productlist {
      width: 100%;
      padding: 20px 0;
      overflow: auto;
      white-space: nowrap;
      .products {
        position: relative;
        list-style-type: none;
        display: inline-block;
        .ant-card-body {
          height: 100%;
          figure {
            text-align: center;
            img {
              min-height: 100px;
              max-height: 300px;
              height: 10vw;
            }
            figcaption {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .homepg__rowfive {
    .career__stop--alternate:nth-child(even) {
      figure {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        figcaption {
          order: 1;
        }
        img {
          order: 2;
        }
      }
    }
    .career__stop--alternate:nth-child(odd) {
      figure {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        figcaption {
          order: 2;
        }
        img {
          order: 1;
        }
      }
    }
  }
}
@import './home-mobile.scss';
@import './home-tab.scss';